<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="manifest" href="manifest.json">
        {% include 'partials/meta-info.html'%}
    </head>
    <body class="{{ background }}">
        {% block content %}{% endblock %}
        <script>
        function openNav() {
        document.getElementById("sidenav").style.width = "60vw";
        }

        function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        }
        </script>
        <script type="preconnect" async src="//assets.pinterest.com/js/pinit.js"></script>
    </body>
</html>