{% extends "layouts/base.html" %} 

{% block content %}
<section class="wrapper-services">
    <div class="landing-head">
        {% include "partials/logo.html" %}
        {% include "partials/menu.html" %}
    </div>
    <div class="landingTitle">
        <h2>{{ book.title }}</h2>
    </div>
</section>
<article class="blockquote-services">
    <div class="innerBlock-services">
        <h6>{{ book.para1 }}</h6>
        <button id="myBtn">Watch my video</button>
    </div>
</article>
<section class="therapies">
    <ul>
        {% for choice in choices.actions %}
            <li>
                <figure>
                    <img src="{{ choice.image }}" alt="">
                    <h6>{{ choice.title}}</h6>
                    <hr>
                    {% if choice.price %}
                        <h6>{{ choice.price }}</h6>
                    {% endif %}
                </figure>
                <p>{{ choice.description }}</p>
                {% if choice.calendly %}
                    <!-- Calendly link widget begin -->
                    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
                    <a href="" onclick="{{ choice.calendly }}">Select</a>
                    <!-- Calendly link widget end -->
                {% else %}
                    <a href="{{ choice.link }}">Select</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</section>

<!--Modal code for video-->
<div id="myModal" class="modal">
<!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <video id="video2" class="innervideo" width="100%" autoplay>
            <source src="https://res.cloudinary.com/peggy-co/video/upload/v1593701181/12%20Steps%20The%20Curative%20Hypno/about_justine_mjkbr2.mp4" type="video/mp4">
            <source src="https://res.cloudinary.com/peggy-co/video/upload/v1593701181/12%20Steps%20The%20Curative%20Hypno/about_justine_mjkbr2.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<script>
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var vid = document.getElementById("video2");
function stopVideo(){
          vid.pause();
          vid.currentTime = 0;
}
function startVideo() {
        vid.currentTime = 0;
        vid.play();
}
// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
  startVideo();
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  stopVideo();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    stopVideo();
  }
}
</script>
{% endblock %}