{% extends "layouts/base.html" %} 

{% block content %}
<div class="overlay">
    <video id="landing" playsinline autoplay muted loop preload="auto">
        <source src="https://res.cloudinary.com/peggy-co/video/upload/ac_none,c_scale,w_2000/v1595960724/Well%20Being/wellbeing_1_xxiym7.webm" type="video/webm">
        <source src="https://res.cloudinary.com/peggy-co/video/upload/ac_none,c_scale,w_2000/v1595960724/Well%20Being/wellbeing_1_xxiym7.mp4" type="video/mp4">
    </video>
</div>
<main class="wrapper-main">
    <div class="landing">
        {% include "partials/logo.html" %}
        {% include "partials/menu.html" %}
        <div class="statement">
            <h3>Justine Hodgson<br>Hypnotherapy<br>& Wellbeing Expert</h3>
        </div> 
    </div>
</main>
<div class="blockquote">
    <div class="innerBlock">
        <h4>"You are beautiful, unique and deserving of all good things."</h4>
        <footer>- Justine Hodgson</footer>
        <button id="myBtn">Watch my video</button>
        <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
    </div>
</div>
<div class="intro">
    <div class="introText">
        <h5>"Hello and welcome to my website, I hope you find both it and the words helpful, healing and inspiring. Whatever you are facing at this time in your life, no matter what it is, please be assured there is a reason and that there is help for you if you wish to receive it."</h5>
    </div>
</div>
<div class="baseHome">
    <div class="innerHome">
        <a href="/services/" alt="{{ linkAlt }}">
            <h6>Discover more about JH and my services.</h6>
        </a>
    </div>
</div>
<!--Modal code for video-->
<div id="myModal" class="modal">
<!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <video id="video2" class="innervideo" width="100%" controls>
            <source src="https://res.cloudinary.com/peggy-co/video/upload/v1593701181/12%20Steps%20The%20Curative%20Hypno/about_justine_mjkbr2.mp4" type="video/mp4">
            <source src="https://res.cloudinary.com/peggy-co/video/upload/v1593701181/12%20Steps%20The%20Curative%20Hypno/about_justine_mjkbr2.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<script>
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var vid = document.getElementById("video2");
function stopVideo(){
          vid.pause();
          vid.currentTime = 0;
}

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  stopVideo();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    stopVideo();
  }
}
</script>
{% endblock %}