{% extends "layouts/base.html" %} 

{% block content %}
<div class="overlay">
    <video id="landing" playsinline autoplay muted loop preload="auto">
        <source src="https://res.cloudinary.com/peggy-co/video/upload/ac_none,c_scale,w_2000/v1595960724/Well%20Being/wellbeing_1_xxiym7.webm" type="video/webm">
        <source src="https://res.cloudinary.com/peggy-co/video/upload/ac_none,c_scale,w_2000/v1595960724/Well%20Being/wellbeing_1_xxiym7.mp4" type="video/mp4">
    </video>
</div>
<main class="wrapper-main">
    <div class="landing">
        {% include "partials/logo.html" %}
        {% include "partials/menu.html" %}
        <div class="statement">
            <h3>Justine Hodgson<br>Hypnotherapy<br>& Wellbeing Expert</h3>
        </div> 
    </div>
</main>
<div class="blockquote">
    <div class="innerBlock">
        <h4>"You are beautiful, unique and deserving of all good things."</h4>
        <footer>- Justine Hodgson</footer>
    </div>
</div>
<div class="intro">
    <div class="introText">
        <h5>"Hello and welcome to my website, I hope you find my site and words both helpful, healing and inspiring. Whatever you are facing at this time in your life, no matter what it is, please be assured there is a reason and that there is help for you if you wish to receive it."</h5>
    </div>
</div>
<div class="baseHome">
    <div class="innerHome">
        <a href="/services/" alt="">
            <h6>Discover more about me and my services.</h6>
        </a>
    </div>
</div>
{% endblock %}