{% extends "layouts/base.html" %} 

{% block content %}
<div class="overlay">
    <video playsinline autoplay muted loop preload="auto">
        <source src="https://res.cloudinary.com/peggy-co/video/upload/ac_none,c_scale,w_2000/v1595960724/Well%20Being/wellbeing_1_xxiym7.webm" type="video/webm">
        <source src="https://res.cloudinary.com/peggy-co/video/upload/ac_none,c_scale,w_2000/v1595960724/Well%20Being/wellbeing_1_xxiym7.mp4" type="video/mp4">
    </video>
</div>
<main class="wrapper-main">
    <div class="logo">
        <h3>Logo here</h3>
    </div>
    <div class="cart">
        <ul>
            <li>CBT</li>
            <li>Hypnotherapy</li>
            <li>Yin Yoga Therapy</li>
            <li>Mental Health & Well Being</li>
        </ul>
    </div>
    <div class="statement">
        <h3>Justine Hodgson Hypnotherapy and wellness expert</h3>
    </div>
    
</main>
    <div class="blockquote">
        <div class="innerBlock">
            
        </div>
    </div>
    <div class="homeStatement">
        <div class="innerStatement">
            <div class="text-white">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum inventore dolore odio, et aut pariatur natus fugiat dolores tempore impedit illo accusantium tempora totam consectetur ipsam deserunt reprehenderit, deleniti non.
            
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam ipsa in eius, ipsum numquam doloribus libero cum hic adipisci aperiam odio a deserunt accusamus animi asperiores consequatur modi ea praesentium?</p>
            </div>
        </div>
    </div>
    <div class="homeStatement">
        <div class="innerStatement">
            <div class="text-white">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum inventore dolore odio, et aut pariatur natus fugiat dolores tempore impedit illo accusantium tempora totam consectetur ipsam deserunt reprehenderit, deleniti non.
            
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam ipsa in eius, ipsum numquam doloribus libero cum hic adipisci aperiam odio a deserunt accusamus animi asperiores consequatur modi ea praesentium?</p>
            </div>
        </div>
    </div>
    <div class="homeStatement">
        <div class="innerStatement">
            <div class="text-white">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum inventore dolore odio, et aut pariatur natus fugiat dolores tempore impedit illo accusantium tempora totam consectetur ipsam deserunt reprehenderit, deleniti non.
            
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam ipsa in eius, ipsum numquam doloribus libero cum hic adipisci aperiam odio a deserunt accusamus animi asperiores consequatur modi ea praesentium?</p>
            </div>
        </div>
    </div>
    <div class="homeStatement">
        <div class="innerStatement">
            <div class="text-white">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum inventore dolore odio, et aut pariatur natus fugiat dolores tempore impedit illo accusantium tempora totam consectetur ipsam deserunt reprehenderit, deleniti non.
            
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam ipsa in eius, ipsum numquam doloribus libero cum hic adipisci aperiam odio a deserunt accusamus animi asperiores consequatur modi ea praesentium?</p>
            </div>
        </div>
    </div>
    <div class="baseHome">
        <div class="innerHome">
            
        </div>
    </div>
{% endblock %}