{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderImage = image %}


{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
    <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
{% endset %}

{% block content %}
    <article>
        {% include "partials/page-header.html" %}
        <div class="blogContent">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
            <a class="twitter-follow-button"href="hhttps://twitter.com/hodgson_justine" data-size="small">Follow@hodgson_justine</a>
            <a class="pinterest-link" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
            {{ content | safe }}
        </div>
    </article>
{% endblock %}
