{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderImage = image %}


{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
    <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
    {% if tags %}
        <p id="tags-desc">Tags: Please click on these to find related articles & Case studies</p>
        <ul class="tags-list" aria-describedby="tags-desc">
        {% for tag in tags %}
            <li>
            <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endset %}

{% block content %}
    <article>
        {% include "partials/page-header.html" %}
        <div class="blogContent">
            {% include "partials/share.html" %}
            {{ content | safe }}
        </div>
    </article>

{% endblock %}