{% extends "layouts/base.html" %} 

{% block content %}
<section class="wrapper-services">
    <div class="landing-head">
        {% include "partials/logo.html" %}
        {% include "partials/menu.html" %}
    </div>
    <div class="landingTitle">
        <h2>{{ services.title1 }}</h2>
    </div>
</section>
<article class="blockquote-services">
    <div class="innerBlock-services">
        <h6>{{ services.para1 }}</h6>
        <footer>- Justine Hodgson</footer>
    </div>
</article>
<article class="journeyBlock">
    <div class="innerJourneyBlock">
        <div class="innerText">
            <p>{{ services.para2 }}</p>
        </div>
        <div class="innerVideo">
            <video width="300" height="375" controls>
                <source src="{{ videos.vid1 }}" type="video/mp4">
                <source src="{{ videos.vid2 }}" type="video/webm">
                Your browser does not support the video tag.
            </video>   
        </div>
    </div>
</article>
<section>
    <article class="magazineStyle">
        <div class="innerMagazineStyle">
            <div class="magazinePic">
                <img src="{{ imagesservices.img1 }}" alt="">
            </div>
            <div class="magazineText">
                <p>{{ services.para3 }}</p>
            </div>
        </div>
    </article>
</section>
<section>
    <article class="magazineStyle-reverse">
        <div class="innerMagazineStyle-reverse">
            <div class="magazineText">
                <p>{{ services.para4 }}</p>
            </div>
            <div class="magazinePic">
                <img src="{{ imagesservices.img2 }}" alt="">
            </div>
        </div>
    </article>
</section>
<section>
    <div class="servicesHeading">
        <h2>JH Services</h2>
    </div>
</section>
<section class="therapies">
    <ul>
        {% for service in therapies.jhservices %}
            <li>
                <figure>
                    <img src="{{ service.image }}" alt="">
                </figure>
                <p>{{ service.description }}</p>
                <a href="{{ service.link }}">Learn more</a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}