/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";
@font-face {
    font-family: "Domaine-Sans-Light";
    src: url("/static/fonts/domaine-sans-display-test-light.woff") format("woff"),
         url("/static/fonts/DomaineSansDisplay-LightTest.woff2") format("woff2");
    }
@font-face {
    font-family: "Domaine-Sans-Thin";
    src: url("/static/fonts/domaine-sans-display-test-thin.woff") format("woff"),
         url("/static/fonts/DomaineSansDisplay-ThinTest.woff2") format("woff2");
    }
:root {
    --fluid-min-width: 320;
    --fluid-max-width: 1366;
    --fluid-min-size: 18;
    --fluid-max-size: 24;
    --fluid-min-ratio: 1.2;
    --fluid-max-ratio: 1.414;

    --fluid-screen: 100vw;
    --fluid-bp: calc(
      (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
        ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
    );
}
  
@media screen and (min-width: 1366px) {
    :root {
      --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}
:root {
    --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
    --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
    
    --fluid-min-scale--2: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--2: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--2: (var(--fluid-min-size) * var(--fluid-min-scale--2)) / 16;
    --fluid-max-size--2: (var(--fluid-max-size) * var(--fluid-max-scale--2)) / 16;
    --step--2: calc(((var(--fluid-min-size--2) * 1rem) + (var(--fluid-max-size--2) - var(--fluid-min-size--2)) * var(--fluid-bp))); 
    
    --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1)) / 16;
    --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1)) / 16;
    --step--1: calc(((var(--fluid-min-size--1) * 1rem) + (var(--fluid-max-size--1) - var(--fluid-min-size--1)) * var(--fluid-bp)));
    
    --fluid-min-scale-0: var(--fluid-min-ratio);
    --fluid-max-scale-0: var(--fluid-max-ratio);
    --fluid-min-size-0: (var(--fluid-min-size)) / 16;
    --fluid-max-size-0: (var(--fluid-max-size)) / 16;
    --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
    
    --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
    --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
    --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
    --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
    --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  
    --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
    --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
    --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
    --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
    --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  
    --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
    --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
    --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
    --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
    --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  
    --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
    --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
    --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
    --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
    --step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  
    --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
    --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
    --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
    --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
    --step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
  
    --fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
    --fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
    --fluid-min-size-6: (var(--fluid-min-size) * var(--fluid-min-scale-5)) / 16;
    --fluid-max-size-6: (var(--fluid-max-size) * var(--fluid-max-scale-5)) / 16;
    --step-6: calc(((var(--fluid-min-size-6) * 1rem) + (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)));

    /*Defined colour palette for project*/
    --main-theme-colour: #ffffff;
    --black-theme: #000000;
    --blue-theme: #235789;
    --red-theme: #C1292E;
    --yellow-theme: #F1D302;
    --delve: #0AFCF0;
    --simplyone: #FAF20A;
    /*font variable declarations*/
    --font-Light:'Domaine-Sans-Light';
    --font-Thin:'Domaine-Sans-Thin';
}
/*|| General Styles */
*,::after,::before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}  
body,html{
    color:var(--black-theme);
    font-family:var(--font-Light);
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    z-index: 10;
}
html{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
}
body {
    background-size: cover;
    text-decoration: none;
}
footer,header,main,nav,section{display:block}

h1,h2,h3,h4,h5,h6{
    font-family:var(--font-Light);
    margin:0;
    font-weight: 1;
}
h1{font-size:var(--step-6)}
h2{font-size:var(--step-5)}
h3{font-size:var(--step-4)}
h4{font-size:var(--step-3)}
h5{font-size:var(--step-2)}
h6{font-size:var(--step-1)}

p, ul, ol, nav {
    font-size:var(--step-0);
    font-weight: 1;
}
hr {
    height: 2px;
    background-color: var(--main-theme-colour);
}
li a {
    color: var(--main-theme-colour) !important;
}
button {
    width: 20vw;
    margin-top: 20px;
}
/* || Landing Page CSS Grid Specific */
video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -10;
}
.overlay::before {
    content:"";
    background:#FFFFFF;
    opacity: 0.6;
    position: absolute;
    z-index: -5;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0%;
  }
.wrapper-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:100vh;
}
ul {
    list-style: none;
}
.logo {
    grid-area: 1 / 1 / 3 / 3;
    padding: 1em;
}
.statement {
    grid-area: 4 / 1 / 6 / 4;
    color: var(--main-theme-colour);
    padding: 1em;
}
.menu {
    grid-area: 4 / 4 / 6 / 6;
}
.cart {
    margin: 20px;
    grid-area: 1 / 5 / 2 / 6;
    justify-self: end;
}
.blockquote {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--black-theme);
    color: var(--main-theme-colour);
    margin-bottom: 0;
}
.innerBlock {
    grid-area: 1 / 2 / 3 / 6;
    margin: auto;
    border-left: 1px solid #ffffff;
}
.textQuote{
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.blockFooter {
    font-size: var(--step--1);
    padding: 1em;
}
.homeStatement {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.innerStatement {
    grid-area: 1 / 2 / 3 / 6;
    margin: auto;
    padding-top: 5em;
    padding-bottom: 5em;
}
#lineSpace1 {
    line-height: 1.75em;
}
.baseHome{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.innerHome{
    grid-area: 1 / 4 / 2 / 7;
}
.text-white {
    color: var(--main-theme-colour);
}
#text-black {
    color:var(--black-theme);
}
.product {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "header header blank blank"
        "image text text text"
}
.product-header{
    background-color: var(--delve);
    display: header;
    align-content: start;
    line-height: 1;
    margin-top: 2em;
    margin-left: 2em;
}
.product-header2{
    background-color: var(--simplyone);
    display: header;
    align-content: start;
    line-height: 1;
    margin-top: 2em;
    margin-left: 2em;
}
.product-image{
    display: grid;
    grid-area: image;
    margin: 0.5em;
    margin-left: 2em;
    justify-items: start;
}
.product-image img {
    width: 70%;
}
.product-text{
    display: grid;
    grid-area: text; 
    align-content: start;
    justify-content: start;
    margin: 1em 1em;
}
.picture{
    margin: 0.5em;
}
.scent-list{
    font-size: var(--step--2);
    line-height: 0;
}
.baseShop {
    background-color: #000000;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "leftLink rightLink";
}
.linkHome{
    display: leftLink;
}
.linkContact{
    display: rightLink;
    justify-self: flex-end;
}
/* || Home Page specific */
.menu-container {
    background-color: var(--yellow-theme);
    color: var(--black-theme);
}

.blockquote-footer {
    color: var(--main-theme-colour);
    padding-bottom: 2em;
}

/* Media Queries */
@media (max-width: 700px) {
    .wrapper-main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .logo {
        grid-area: 1 / 1 / 2 / 2;
    }
    .statement {
        grid-area: 2 / 1 / 4 / 3;
        align-self: end;
    }
    .menu {
        grid-area: 5 / 1 / 6 / 3;
    }
    .member-font {
        font-size: var(--step--0);
    }
    .member-list-font {
        font-size: var(--step--2);
    }
    .product {
        grid-template-areas:
        "header"
        "image"
        "text"
    }
    .product-header {
        grid-area: 1 / 1 / 3 / 3;
    }
    .product-image {
        grid-area: 3 / 1 / 5 / 3;
        margin: 0;
    }
    .product-text {
        grid-area: 5 / 1 / 7 / 3;
    }
    .product-image img {
        width: 100%;
    }
}
