/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";
@font-face {
    font-family: "Domaine-Sans-Light";
    src: url("/static/fonts/domaine-sans-display-test-light.woff") format("woff"),
         url("/static/fonts/DomaineSansDisplay-LightTest.woff2") format("woff2");
    }
@font-face {
    font-family: "Domaine-Sans-Thin";
    src: url("/static/fonts/domaine-sans-display-test-thin.woff") format("woff"),
         url("/static/fonts/DomaineSansDisplay-ThinTest.woff2") format("woff2");
    }
@font-face {
    font-family: "Domaine-Sans-Reg";
    src: url("/static/fonts/domaine-sans-display-test-regular.woff") format("woff"),
            url("/static/fonts/DomaineSansDisplay-RegularTest.woff2") format("woff2");
    }
@font-face {
    font-family: "Domaine-Sans-Med";
    src: url("/static/fonts/domaine-sans-display-test-medium.woff") format("woff"),
            url("/static/fonts/DomaineSansDisplay-MediumTest.woff2") format("woff2");
    }
    
:root {
    --fluid-min-width: 320;
    --fluid-max-width: 1366;
    --fluid-min-size: 18;
    --fluid-max-size: 24;
    --fluid-min-ratio: 1.2;
    --fluid-max-ratio: 1.414;

    --fluid-screen: 100vw;
    --fluid-bp: calc(
      (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
        ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
    );
}
  
@media screen and (min-width: 1366px) {
    :root {
      --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}
:root {
    --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
    --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
    
    --fluid-min-scale--2: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--2: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--2: (var(--fluid-min-size) * var(--fluid-min-scale--2)) / 16;
    --fluid-max-size--2: (var(--fluid-max-size) * var(--fluid-max-scale--2)) / 16;
    --step--2: calc(((var(--fluid-min-size--2) * 1rem) + (var(--fluid-max-size--2) - var(--fluid-min-size--2)) * var(--fluid-bp))); 
    
    --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1)) / 16;
    --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1)) / 16;
    --step--1: calc(((var(--fluid-min-size--1) * 1rem) + (var(--fluid-max-size--1) - var(--fluid-min-size--1)) * var(--fluid-bp)));
    
    --fluid-min-scale-0: var(--fluid-min-ratio);
    --fluid-max-scale-0: var(--fluid-max-ratio);
    --fluid-min-size-0: (var(--fluid-min-size)) / 16;
    --fluid-max-size-0: (var(--fluid-max-size)) / 16;
    --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
    
    --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
    --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
    --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
    --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
    --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  
    --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
    --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
    --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
    --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
    --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  
    --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
    --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
    --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
    --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
    --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  
    --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
    --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
    --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
    --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
    --step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  
    --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
    --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
    --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
    --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
    --step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
  
    --fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
    --fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
    --fluid-min-size-6: (var(--fluid-min-size) * var(--fluid-min-scale-5)) / 16;
    --fluid-max-size-6: (var(--fluid-max-size) * var(--fluid-max-scale-5)) / 16;
    --step-6: calc(((var(--fluid-min-size-6) * 1rem) + (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)));

    /*Defined colour palette for project*/
    --lemon-yellow-crayola: #fdffb6;
    --celadon: #a7e8bd;
    --black: #000000;
    --white: #ffffff;
    --persimmon: #E55812;
    --cbt: #A41338;
    --hypno: #49DCB1;
    --wellbeing: #007CBE;
    --yin: #F2DD6E;

    /*font variable declarations*/
    --font-Light:'Domaine-Sans-Light';
    --font-Thin:'Domaine-Sans-Thin';
    --font-Reg:'Domaine-Sans-Reg';
    --font-Med:'Domaine-Sans-Med';
}
/*|| General Styles */
*,::after,::before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}  
body,html{
    color:var(--black);
    font-family:var(--font-Thin);
    font-weight: 300;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    z-index: 10;
}
html{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
}
body {
    background-size: cover;
    text-decoration: none;
    line-height: 1;
}
footer,header,main,nav,section{display:block}

h1,h2,h3,h4,h5,h6{
    font-family:var(--font-Thin);
    margin:0;
    font-weight: 300;
}
h1{font-size:var(--step-6)}
h2{font-size:var(--step-5)}
h3{font-size:var(--step-4)}
h4{font-size:var(--step-3)}
h5{font-size:var(--step-2)}
h6{font-size:var(--step-1)}
p, ul, ol, nav {
    font-size:var(--step-0);
    font-weight: 500;
}
hr {
    color: var(--white);
    width: 80%;
    margin: 3rem 3rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}
a {
    text-decoration: none;
    color: var(--black);
    padding: 1rem 1rem;
}
a:hover {
    transition: 0.3s;
    color:  var(--persimmon);
}
.text-white{
    color: var(--white);
}
.text-black{
    color: var(--black);
}
.text-orange{
    color: var(--persimmon);
}
/*************************************/
/* Menu specific */
/* The side navigation menu */
.menu-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 60px;
    width: 60px;
}
.menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: var(--white);
    color: var(--persimmon); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 4rem; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  }
  /* The navigation menu links */
  .menu a {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: var(--step-1);
    color: var(--persimmon);
    display: block;
    transition: 0.5s;
  }
  /* When you mouse over the navigation links, change their color */
  .menu a:hover {
    color: #f3af6f;
  }
  /* Position and style the close button (top right corner) */
  .menu .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    margin-right: 50px;
  }

/*************************************/
/* || Landing Page CSS Grid Specific */
video#landing { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -10;
}
.overlay::before {
    content:"";
    background: var(--white);
    opacity: 0.7;
    position: absolute;
    z-index: -5;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0%;
  }
.wrapper-main {
    display: grid;
    grid-gap: 20px;
}
.landing {
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "logo . . menu"
        ". . statement statement"
}
.logo {
    grid-area: logo;
    padding: 3em;
}
.logo img {
    width: 15vw;
}
.statement {
    grid-area: statement;
    color: var(--persimmon);
    padding-right: 1em;
    align-self: center;
    justify-self: end;
}
.statement h3 {
    padding: 0.2em;
    line-height: 1.3;
}
.menu {
    grid-area: menu;
}
.blockquote {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "block";
    margin: 6em 0;
}
.innerBlock {
    grid-area: block;
    background: var(--persimmon);
    color: var(--white);
    opacity: 0.8;
    padding: 1rem 1rem;
    line-height: 1.3;
}
.innerBlock h4,
.innerBlock h6,
.innerBlock footer,
.innerBlock-services footer{
    padding: 1em 1em;
}
.intro{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        ". intro ."
}
.introText{
    grid-area: intro;
    color: var(--black);
    padding: 0.5em;
    margin: 1em 0;
    line-height: 1.3;
}
.baseHome{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr auto-fill;
    grid-template-areas:
    ". baseLink";
    margin: 2em 0; 
}
.innerHome{
    grid-area: baselink;
    justify-content: start;
}
/*********************************/
/* Services */
.landing-head,
.landing-therapy {
    height: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "logo . . menu";
}
.landingTitle {
    padding: 1em 1em;
    background: var(--white);
    color: var(--persimmon);
}
.landingTitle h3,
.servicesHeading h2 {
    line-height: 2;
}
.blockquote-services {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "blank blockServices blank";
    margin-top: 6em;
    height: auto;
}
.innerBlock-services {
    height: auto;
    grid-area: blockServices;
    padding: 2rem 4rem;
    background: var(--persimmon);
    color: var(--white);
    line-height: 1.5;
}
.innerBlock-services-black {
    height: auto;
    grid-area: blockServices;
    padding: 2rem 4rem;
    background: var(--white);
    color: var(--black);
    line-height: 1.5;
}
.innerBlock-services h6 {
    border-left: 1px solid #ffffff;
    padding: 0 1em;
}
.innerBlock-services-black h6 {
    border-left: 1px solid var(--black);
    padding: 0 1em;
}
.journeyBlock {
    display: grid;
    grid-gap: 20px;
}
.innerJourneyBlock {
    height: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
    "paragraph videoMessage"
}
.innerText {
    grid-area: paragraph;
    margin: 2em 2em;
    padding: 1em;
    align-self: center;
    line-height: 1.7;
}
.innerVideo {
    justify-self: center;
    grid-area: videoMessage;
    margin: 2em 2em;
}
.magazineStyle,
.magazineStyle-reverse {
    display: grid;
    grid-gap: 20px;
}
.innerMagazineStyle-reverse {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "magText magImg";
}
.innerMagazineStyle {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "magImg magText";
}
.magazinePic {
    grid-area: magImg;
    grid-gap: 10px;
}
.magazinePic img {
    width: 100%;
}
.magazineText {
    grid-area: magText;
    margin: 2em 2em;
    line-height: 1.6;
    align-self: center;
}
.servicesHeading {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    color: var(--persimmon);
    padding: 1em 2em;
}
/*********************************/
/* Services cards */
.therapies{
    margin: 1em 1em;
}
.therapies > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}
.therapies > ul > li {
    border: 1px solid #000000;
    border-radius: .5rem;
    justify-self: start;
}
.therapies > ul > li > figure {
    height: auto;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    margin: 0;
}
.therapies > ul > li > figure > img {
    width: 100%;
}
.therapies > ul > li > figure > h6 {
    padding:  .5rem .5rem;
}
.therapies > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
}
.therapies > ul > li > figure > figcaption > h6 {
    padding: 0.5rem 0.5rem;
}
.therapies > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
    color: var(--black);
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all 0.4s;
}
.therapies > ul > li > a:hover {
    background-color: var(--white);
    color: var(--black);
}
/*********************************/
/*Specific Therapies Pages */
.cbt-colour {
    background-color: var(--cbt);
    color: var(--white);
}
.hypno-colour {
    background-color: var(--hypno);
    color: var(--white);
}
.wellbeing-colour{
    background-color: var(--wellbeing);
    color: var(--white);
}
.yin-colour {
    background-color: var(--yin);
    color: var(--white);
}
.wrapper-therapy {
    display: grid;
    grid-gap: 20px;
}
/*.landing-therapy with landing-home*/
.therapy-content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "image      text       text"
        "lower-text lower-text lower-text";
}
.therapy-image {
    grid-area: image;
    grid-gap: 20px;
    margin: 1rem 1rem;
}
.therapy-image img {
    width: 100%;
}
.therapy-side-text {
    grid-area: text;
    line-height: 1.3;
    padding: 2rem 2rem;

}
.therapy-lower-text {
    grid-area: lower-text;
    margin: 1rem 4rem;
    line-height: 1.3;
    padding-left: 8rem;
}
.lower-text-border-wrapper {
    border-left: 1px solid #ffffff;
    padding: 0 2rem;
}
.therapy-title {
    margin-bottom: 4rem;
}
.bookButton {
    margin: 2rem 0;
}
.cbtButton {
    padding: .5rem .5rem;
    background-color: var(--white);
    color: var(--cbt);
    border-radius: 0.5rem;
}
.hypnoButton {
    padding: .5rem .5rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 0.5rem;
}
.wellbeingButton {
    padding: .5rem .5rem;
    background-color: var(--white);
    color: var(--wellbeing);
    border-radius: 0.5rem;
}
.yinButton {
    padding: .5rem .5rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.5rem;
}
a.cbtButton:hover {
    transition: 0.3s;
    color: var(--white);
    background-color: var(--cbt);
}
a.hypnoButton:hover {
    transition: 0.3s;
    color: var(--white);
    background-color: var(--black);
}
a.wellbeingButton:hover {
    transition: 0.3s;
    color: var(--white);
    background-color: var(--wellbeing);
}
a.yinButton:hover{
    transition: 0.3s;
    color: var(--black);
    background-color: var(--white);
}
/*********************************************/
/* Modal css*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
button {
    margin: 1rem 1rem;
}
button#myBtn {
      font-family: var(--font-Thin);
      font-size: var(--step-0);
      padding: .5rem .5rem;
      border-radius: .5rem;
      border: 1px solid var(--black);
}
/***************************************/
/* End modal */
/*********************************/
/* Blog section */
.blockquote-blog {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "blogTitle blogSummary"
        "blogContent blogContent";
}
.blogTitle {
    grid-area: blogTitle;
    background-color: var(--persimmon);
}
.blogTitle h3 {
    padding: 1rem 1rem;
    color: var(--white);
}
.blogSummary {
    grid-area: blogSummary;
}
.page-header__summary {
    color: var(--persimmon);
}
.blogContent {
    grid-area: blogContent;
}
@media (max-width: 900px){
    hr{
        margin: 1rem 1rem;
    }
    .landing {
        height: 100vh;
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
            "logo menu"
            "statement statement"
    }
    .logo {
        padding: 1rem;
    }
    .menu a {
        padding: .8rem 1rem;
    }
    .statement{
        padding-left: 2em;
        justify-self: start;
    }
    .blockquote {
        margin: 1em 0;
    }
    .intro{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "intro";
    }
    .introText{
        padding: 1em 2em;
    }
    .introText h5{
        font-size: var(--step-0);
    }
    .innerHome h6,
    .therapy-side-text h6 {
        font-size: var(--step--1);
    }
    .landing-head,
    .landing-therapy {
        grid-template-areas: 
            "logo menu"
    }
    .landingTitle{
        padding: 1.5em;
    }
    .blockquote-services {
        grid-template-columns: 1fr;
        grid-template-areas:
            "blockServices";
        margin-top: 3em;
    }
    .innerBlock-services {
        padding: 1em 1em;
        line-height: 1.5;
    }
    .innerJourneyBlock {
        height: auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "videoMessage"
        "paragraph"
    }
    .innerText,
    .innerVideo {
        margin: 0.5em 1em;
        padding: .5em;
    }
    .innerMagazineStyle {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "magImg"
        "magText"
    }
    .innerMagazineStyle-reverse {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "magImg"
        "magText"
    }
    .therapy-content {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "text"
            "image"
            "lower-text";
    }
    .therapy-side-text {
        grid-area: text;
        line-height: 1.3;
        padding: .5rem .5rem;
    }
    .therapy-lower-text {
        margin: 0.5rem 0.5rem;
        padding-left: 0.5rem;
    }
}
