<title>{{ title }}</title>
<link rel="canonical" href="{{ canonical }}" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ canonical }}" />
<meta property="og:locale" content="en_GB" />

{% if socialImage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="https://www.justinehodgsonhypnotherapy.com/static/images/twitter-summary-card.min.jpg" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}
<link rel="apple-touch-icon" sizes="180x180" href="./favicon.ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon.ico/favicon-16x16.png">
<link rel="manifest" href="./favicon.ico/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">