<ul class="social-share">
  <li><a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a></li>
  <li><a href="https://twitter.com/intent/tweet?..." target="blank" rel="noopener noreferrer"><img src="/static/images/Twitter_Social_Icon_Rounded_Square_Color.svg" alt="Share Page on Twitter" style="width:32px"/></a></li>
  <li><a href="https://www.linkedin.com/shareArticle?..." target="blank" rel="noopener noreferrer"><img src="/static/images/LI-In-Bug.png" alt="Share Page on LinkedIn" style="width:32px"/></a></li>
</ul>