<ul class="social-share">
  <li><a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" alt="Share page on Pinterest"></a></li>
  <li><a href="https://twitter.com/intent/tweet?..." target="blank" rel="noopener noreferrer"><img src="/static/images/twitter.svg" alt="Share Page on Twitter" style="width:32px"/></a></li>
  <li><a href="https://www.linkedin.com/shareArticle?..." target="blank" rel="noopener noreferrer"><img src="/static/images/linkedin.svg" alt="Share Page on LinkedIn" style="width:32px"/></a></li>
</ul>